:root {
  --bodyBackground: rgba(36, 41, 88, 0.072);
  --mainBackground:  rgb(48, 178, 201);

}

* {
  background-color: transparent;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bodyBackground);
  margin-bottom: 0;
  bottom: 0px;
}

header {
  position: fixed;
  top: 0px;
  background-color: var(--mainBackground);
  margin-bottom: 15px;
  font-size: 17px;
  color: rgb(22, 179, 113);
  padding: 5px 0 10px 20px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-bottom-color: var(--bodyBackground);
  border-left-color: var(--mainBackground);
  border-right-color: var(--mainBackground);
  border-top-color: var(--mainBackground);
  border-bottom-width: 1px;
  border-style: solid;
  width: 100%;
}

nav h1 {
  margin-top: 3px;
  justify-content: center;
}

header nav {
  display: inline;
  max-width: 50%;
}

header nav li {
  display: inline;
  margin: 14px;
  max-width: 50%;
}

nav ul {
  display: flex;
  flex: 1 0 300px;
  justify-content: right;
  align-content: flex-end;
  max-width: 94%;
}

nav a {
  color: rgb(36, 61, 118);
  width: 100%;
}

main {
  display: block;
  width: 100%;
  margin-top: 125px;
}

section h2 {
  font-size: 20px;
}

.card {
  display: flex;
  color: white;
  margin: 10px 25%;
}

.cardName {
  display: flex;
  width: 15%;
  justify-content: center;
  flex: 0 0 200px;
  align-items: center;
}

.cardBody {
  display: flex;
  background-color: var(--mainBackground);
  border-radius: 15px;
  padding: 10px;
  width: 75%;
  margin-top: 20px;
}

.cardBody img {
  display: block;
  padding-right: 20px;
}

.aboutMeText {
  padding: 25px 0px 0px 0px;
}

.aboutMe {
  display: flex;
  background-color: var(--mainBackground);
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

.workOuterBox {
  display: block;
  margin-top: 1px;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}

.workBanner a img {
  padding: 10px
}



img.heroBanner {
  visibility: visible;
  max-width: 100%;
  max-height: 100%;
  padding: 0px 0%;
}

.workBannerText {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 3px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.workInnerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workBanner {
  width: 40%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 2px;
  flex: 0 0 300px;
  padding-bottom: 100px;
}

.contactMeOuterBox {
  display: flex;
  margin-top: 1px;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}

.contactMeCard p {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  width: 100%;
}

.contactMeCard p a {
  font-size: 18px;
}

.contactMeCard {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
  width: 100%;
}

.contactMeHeader {
  display: block;
}

footer {
  background-color: var(--mainBackground);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  line-height: 200%;
  bottom: 0px;
  height: 75px;
  margin-top: 50px;
}

footer h3 {
  font-size: 13px;
  color: rgb(5, 73, 76);
  text-align: center;
  padding-top: 10px;
}